<section class="portfolio">
    <md-card class="portfolio__card">
        <div class="page">
            <md-toolbar [color]="primary" class="navbar">
            <span class="navbar__item" *ngFor="let tag of tags | async; let last = last">
                <a href="javascript:;" [class.selected]="isSelectedTag(tag)" (click)="filterWorksByTag(tag)" md-button>{{tag.title | uppercase}}</a>
                <span *ngIf="!last">/</span>
            </span>
            </md-toolbar>

            <portfolio-showcase [items]="items"></portfolio-showcase>
        </div>
    </md-card>
</section>