@import "./../../../../less/variables.less";

@page-small-size: @pageSize - 128px;

portfolio-item {
  margin: 0;
  padding: 0;
  display: block;

  section.work {

    md-card {
      &:extend(.sansFont);
      &:extend(.largeFont);
      font-weight: 200;
    }

    .work__navigation {
      background-color: transparent;
      padding: 0;
      z-index: 300;

      -moz-transition: height 0.5s ease;
      -webkit-transition: height 0.5s ease;
      -o-transition: height 0.5s ease;
      transition: height 0.5s ease, width 0.5s ease, height 1s ease, opacity 0.5s;

      md-toolbar-row {
        left: 0;
        width: 100%;
        position: absolute;

        .side {
          height: 48px;
          width: 50%;
          font-size: 10.5px;
          letter-spacing: 2px;
          font-weight: 500;
          color: white;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          align-items: center;

          .content {
            width: @page-small-size/2;
          }

          a {
            text-decoration: none;
            display: inline-block;
            color: white;

            &:hover {

            }
          }
        }
        .side__left {
          background-color: black;
          justify-content: flex-end;

          & > div {
            text-align: left;
            width: 100%;
          }
        }
        .side__right {
          background-color: #F3C444;
          justify-content: flex-start;

          & > div {
            text-align: right;
            width: 100%;
          }
        }
      }

      &.sticky {
        position: fixed;
        top: 2.4em;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 101;
      }
    }

    .work__description {
      width: @page-small-size;
      margin: 3em auto auto auto;
      box-shadow: none;
      text-align: left;
      color: #252525;
      line-height: 1.5em;

      md-card-content {
        display: flex;
        flex-direction: row;
        &:extend(.normalFont);
        font-weight: normal;
        font-size: 14px;

        .side {
          &.side__left {
            width: (9/16) * @page-small-size;
          }

          &.side__right {
            width: (7/16) * @page-small-size;
          }

          .attributes {
            margin-left: 40%;

            .row {
              margin-bottom: 10px;
              .title {
                color: #A5A5A5;
                text-transform: uppercase;
                .sansSerifFont();
                font-size: 10px;
                letter-spacing: 2px;
              }
              .description {}
            }
          }
        }
      }
    }

    .work__details {

      box-shadow: none;

      .showcase {
        text-align: center;
        margin: 2em auto auto auto;
        max-width: @pageSize;
        min-height: 500px;

        img.showcase__image {
          width: 100%;
          transition: opacity 1s;
        }
      }
    }
  }

  .arrow {
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0xNC43NywyMy43OTVMNS4xODUsMTQuMjFjLTAuODc5LTAuODc5LTAuODc5LTIuMzE3LDAtMy4xOTVsMC44LTAuODAxYzAuODc3LTAuODc4LDIuMzE2LTAuODc4LDMuMTk0LDAgIGw3LjMxNSw3LjMxNWw3LjMxNi03LjMxNWMwLjg3OC0wLjg3OCwyLjMxNy0wLjg3OCwzLjE5NCwwbDAuOCwwLjgwMWMwLjg3OSwwLjg3OCwwLjg3OSwyLjMxNiwwLDMuMTk1bC05LjU4Nyw5LjU4NSAgYy0wLjQ3MSwwLjQ3Mi0xLjEwNCwwLjY4Mi0xLjcyMywwLjY0N0MxNS44NzUsMjQuNDc3LDE1LjI0MywyNC4yNjcsMTQuNzcsMjMuNzk1eiIgZmlsbD0iIzUxNTE1MSIvPjwvc3ZnPg==);
    background-size: contain;
    margin: 0 auto;
    cursor: pointer;
  }

  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}