<section class="work">
    <top></top>
    <md-toolbar class="work__navigation" [sticky] [stickyTopPx]="stickyTopPx" [elementTopPx]="176" (stick)="onNavigationStick($event)">
        <div class="side side__left">
            <div class="content">{{work.title}}</div>
        </div>
        <div class="side side__right">
            <div class="content">
                <a href="javascript:;" (click)="goToPrevious()">Previous Project</a>
                <span> / </span>
                <a href="javascript:;" (click)="goToNext()">Next Project</a>
            </div>
        </div>
    </md-toolbar>

    <md-card class="work__description">
        <md-card-content>
            <div class="side side__left" [innerHTML]="work.description"></div>
            <div class="side side__right">
                <div class="attributes">
                    <div class="row">
                        <div class="title">Type of work</div>
                        <div class="description">
                            <span *ngFor="let tag of work.tags">
                                {{tag.title}}
                                &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="row" *ngIf="work.year">
                        <div class="title">Year</div>
                        <div class="description">{{work.year}}</div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="work__details">
        <!--<div class="arrow bounce" (click)="showDetailsImage(showcase, arrow)" #arrow></div>-->
        <md-card-content>
            <div class="showcase" #showcase>
                <img [src]="detailsImage" *ngIf="detailsImage" class="showcase__image" [style.opacity]="detailsImageOpacity"/>
            </div>
        </md-card-content>
    </md-card>
</section>