<section class="about">
    <md-card class="about__card">
        <div class="page">
            <div class="general">
                <div class="description">
                    <p>Well hello! I am Corina.</p>
                    <p>I am a graphic designer &amp; illustrator. <br/>
                        I’ve had experience in web &amp; app design, as well <br/>
                        as graphic event design for cool events like TEDx Chisinau & other smaller projects.
                        Totally in love with good typography, Japanese poster design &<br/>
                        quircky layouts. Currently based in Berlin with my loving <br/>
                        partner in “crime” & a sweet feline.
                    </p>
                    <p>
                        Scroll down below to read my story, but if you want it more "by the book" - download my resume <a href="/assets/cv-catundercover.pdf" target="_blank" class="emphasis no-decoration">here</a>.
                    </p>
                    <br/>
                    <p class="sansSerifFont" style="letter-spacing:1px;">
                        <span class="uppercase bolder" style="font-size: 12px;">Let’s get the party started</span>:
                        <span>
                            <a href="mailto:findcatundercover@gmail.com?subject=Looking for catundercover" class="emphasis bolder" style="font-size: 14px; text-decoration: none;">findcatundercover@gmail.com</a>
                        </span>
                    </p>
                </div>
                <div class="picture">
                    <img src="/assets/images/me.jpg">
                </div>
                <div class="clear"></div>
            </div>
            <div class="cv">
                <div class="cv__block">
                    <div class="title">How it all started & why graphic design?</div>
                    <div class="content separated">
                        <p>
                            As long as I could consciously remember myself I would have a pencil anywhere I would go, sketching stuff that would inspire me, or at least stuff that I would find eye-catching. My parents strongly believed in my creative side and agreed I should follow a creative career (or at least do what I loved to do - paint) so I started with art school besides my regular educational activities. After a course in art school during my teenage years I continued illustrating using different mediums like watercolour, gouache, oils on paper and other objects. I’ve also enrolled in art courses after finishing art school to help sustain my passion for painting and illustration. My hard work has been repaid with different prizes at local and cross country drawing contests.
                        </p>
                    </div>
                </div>

                <div class="cv__block">
                    <div class="separator separated">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle blue"></span>
                    </div>
                    <div class="content separated">
                        <p>
                            My love affair with painting ended briefly when I decided to pursue a technical Bachelors degree after high school and enrolled in Computer Science at the State University in my city. My first part time job as a student was writing and compiling travel guides for an app and dreaming of visiting all those countries I wrote about one day. After finishing university, as most of the confused students freshly out of school - I decided to move to sunny Cyprus and continue my copywriting career writing about design and other nerdy subjects for online magazines like Designmodo.
                            <br> <br>After a while, realising that islands are not really my thing, I moved back to my home country where I got a job as a technical writer for a Danish web design & development company. Everything went great for a while when I understood that my creative side couldn’t hide and be confused any longer and seeing that web design clicked with me during my work experience as a technical writer I decided to start learning on my own after work and spent time with design books and online magazines. I then decided to take my design book knowledge and cute attempts to design a bit further and apply it in real life by contacting different design agencies in my home city and ended up working for a great digital agency where I was hired as a Junior Web Designer and worked at tons of beautiful projects along with a great team.
                        </p>
                    </div>
                </div>

                <div class="cv__block">
                    <div class="separator separated">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle blue"></span>
                    </div>
                    <div class="content separated">
                        <p>
                            I’ve learned a lot so far, working on pixel perfect projects for more than 3 years now, learning something new everyday and eager to improve. My plans for the future are starting to look clear now and finally I have found myself doing the job I love, - hoping that someday I will turn from a consumer to a producer, adding more and more value to my work and to what I deliver to the world outside my own.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</section>