<section class="about">
    <md-card class="about__card">
        <div class="page">
            <div class="general">
                <div class="description">
                    <p>Well hello! I am Corina.</p>
                    <p>I am a graphic designer & illustrator. <br/>
                        I’ve had experience in web & app design, as well <br/>
                        as graphic event design for cool events like TEDx. <br/>
                        Totally in love with good typography, japanese poster design &<br/>
                        quircky layouts. Currently based in Berlin with my loving <br/>
                        partner in “crime” & a sweet feline.
                    </p>
                    <p>Have you seen my <a>works</a> yet?</p>
                    <br/>
                    <p class="sansSerifFont" style="letter-spacing:1px;">
                        <span class="uppercase bolder" style="font-size: 12px;">Let’s get the party started</span>:
                        <span class="emphasis bolder" style="font-size: 14px;">corinaciripitca[at]gmail.com</span>
                    </p>
                </div>
                <div class="picture">
                    <img src="/assets/images/me.jpg">
                </div>
                <div class="clear"></div>
            </div>
            <div class="cv">
                <div class="cv__block">
                    <p class="title">web & graphic design</p>
                    <div class="content separated">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. </p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>
                    </div>
                </div>

                <div class="cv__block">
                    <div class="separator separated">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle blue"></span>
                    </div>
                    <p class="title separated">illustration</p>
                    <div class="content separated">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. </p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable.</p>
                    </div>
                </div>

                <div class="cv__block">
                    <div class="separator separated">
                        <span class="circle red"></span>
                        <span class="circle yellow"></span>
                        <span class="circle blue"></span>
                    </div>
                    <p class="title separated">future plans</p>
                    <div class="content separated">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere.</p>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</section>