<section class="moodboard">
    <div class="page">
        <div class="banner__outer">
        <span class="banner__inner uppercase">
            &lt;&lt;Welcome to my visual &amp; audio diary. This is what gets my creative mojo running&gt;&gt;
        </span>
        </div>

        <md-grid-list class="moodboard__items" cols="4" rowHeight="1:1" gutterSize="1em">
            <md-grid-tile class="moodboard__item" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
                <a [href]="tile.src" class="moodboard__item__image" [style.background-image]="'url(' + tile.src + ')'" *ngIf="tile.src" data-lightbox="tile.src"></a>
                <a [href]="tile.href" class="moodboard__item__audio" *ngIf="tile.href" target="_blank">
                    <div>
                        <span class="play"></span>
                        <span class="meta">
                        <span class="interpreter">{{tile.interpreter}}</span>
                        <span class="title">"{{tile.title}}"</span>
                    </span>
                    </div>
                </a>
            </md-grid-tile>
        </md-grid-list>
    </div>
</section>