<section class="moodboard">
    <div class="page">
        <div class="banner__outer">
        <span class="banner__inner uppercase">
            &lt;&lt;Welcome to my visual &amp; audio diary. This is what gets my creative mojo running&gt;&gt;
        </span>
        </div>

        <div class="moodboard__items">
            <top></top>
            <div class="moodboard__item__sizer"></div>
            <div class="moodboard__item"  *ngFor="let tile of tiles">
                <a [href]="tile.src" class="moodboard__item__image" *ngIf="tile.src" data-lightbox="tile.src">
                    <img src="{{tile.src}}"/>
                </a>
                <a [href]="tile.href" class="moodboard__item__audio" *ngIf="tile.href" target="_blank">
                    <figure>
                        <span class="play"></span>
                        <span class="meta">
                            <span class="interpreter">{{tile.interpreter}}</span>
                            <span class="title">"{{tile.title}}"</span>
                        </span>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>